<h2>Try loging in</h2>
<h2>Then check your local storage for the following key value pair</h2>
<p>userToken: 'test-user-token'</p>

<form (ngSubmit)="login()" [formGroup]="form">
  <mat-form-field>
    <mat-label>Username</mat-label>
    <input type="text" matInput formControlName="username">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input type="password" matInput formControlName="password">
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit">Login</button>
</form>
  <button mat-raised-button color="primary" (click)="logout()">Logout</button>
